:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.growBarButton {
  margin-bottom: 2em;
}

.stopBarButton,
.resetBarButton {
  margin-left: 1em;
}

.bar {
  width: 20em;
  height: 1em;

  background: grey;
  border-radius: .25em;
}

.innerBar {
  height: 100%;

  background: red;
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
}

.innerBarFull {
  border-radius: .25em;
}
